---
import { getCollection } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";
import lib from "zenn-markdown-html";
import "zenn-content-css";
import TagTips from "../../components/TagTips.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post }
  }));
}

const { post } = Astro.props;

// https://zenn.dev/rorisutarou/articles/ec3871ec55693d#2.-zenn-markdown-html%E3%82%92%E4%BD%BF%E3%81%86
// @ts-ignore
const markdownToHtml = lib.default ? lib.default : lib;
const content = markdownToHtml(post.body!, {
  embedOrigin: "https://embed.zenn.studio"
});

const tags = post.data.tags;
---

<MarkdownPostLayout frontmatter={post.data} postSlug={post.id}>
  <div class="mb-6">
    <TagTips tags={tags} />
  </div>
  <div class="znc">
    <Fragment set:html={content} />
  </div>
</MarkdownPostLayout>
