---
import NavigationButton from "../components/NavigationButton.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="404 Page Not Found"
  description="ãŠæŽ¢ã—ã®ãƒšãƒ¼ã‚¸ã¯è¦‹ã¤ã‹ã‚Šã¾ã›ã‚“ã§ã—ãŸã€‚"
>
  <h1 class="mb-7 text-4xl font-semibold">404 Page Not Found ðŸš€</h1>
  <NavigationButton href={"/"}> Home â†’</NavigationButton>
</BaseLayout>
