---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="inline-block rounded-lg border border-gray-300 px-3 py-2 text-sm font-semibold transition-all hover:scale-105 hover:bg-gray-200/90 dark:border-gray-700 dark:hover:bg-gray-300/10"
>
  <slot />
</a>
