---
import Dropdown from "./Dropdown.astro";

const navigation = [
  { name: "Home", href: "/" },
  { name: "Posts", href: "/posts" },
  { name: "Tags", href: "/tags" }
];
const currentPath = Astro.url.pathname;
const currentNavigationName = navigation.find((nav) =>
  nav.href === "/" ? currentPath === nav.href : currentPath.startsWith(nav.href)
)?.name;
---

<div class="hidden sm:flex sm:gap-4">
  {
    navigation.map((nav) => {
      const isCurrentPath =
        nav.href === "/"
          ? currentPath === nav.href
          : currentPath.startsWith(nav.href);
      return (
        <a
          href={nav.href}
          class={
            "inline-block rounded-lg px-3 py-2 text-sm font-semibold transition-all hover:scale-105 hover:bg-gray-200/90 dark:hover:bg-gray-300/10 " +
            `${(isCurrentPath ?? true) && "bg-gray-200/90 dark:bg-gray-300/10"}`
          }
        >
          {nav.name}
        </a>
      );
    })
  }
</div>

<div class="sm:hidden">
  <Dropdown options={navigation} currentOptionName={currentNavigationName!} />
</div>
