---

---

<a
  href="tags"
  aria-label="Search button"
  class="cursor-pointer rounded-md p-1 transition-all hover:bg-gray-200/90 dark:hover:bg-gray-300/10"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    fill="none"
    class="stroke-gray-600 dark:stroke-gray-50"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <circle class="" cx="11" cy="11" r="8"></circle>
    <line x1="24" y1="24" x2="16.65" y2="16.65"></line>
  </svg>
</a>
