---
import { getTagInfo } from "../utils/tag-info";

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {
    tags.map((tag) => {
      const tagInfo = getTagInfo(tag);
      return (
        <a
          href={`/tags/${tag}`}
          class="flex items-center gap-1 rounded-2xl border border-gray-300 px-2 py-1 text-sm transition-all hover:scale-105 hover:bg-gray-300/90 dark:border-gray-700 dark:hover:bg-gray-100/10"
        >
          <tagInfo.icon class="h-6 w-6" />
          <span>{tagInfo.label}</span>
        </a>
      );
    })
  }
</div>
